{% extends 'base.html.twig' %}

{% block body %}
    <div id="contenu">
        <article>
            <header>
                <h1 class="titreTicket">{{ ticket.getTitre() }}</h1>
                <time>{{ ticket.getStringDate() }}</time>
            </header>
            <p>{{ ticket.getContenu() }}</p>
        </article>
        <hr>
        <header>
            <h1 id="titreReponses">Réponses au ticket</h1>
        </header>

        {% for commentaire in ticket.getCommentaires %}
            <hr id="divisionCommentaire">
            <p id="auteurCommentaire">De {{ commentaire.getAuteur }} :</p>
            <p id="dateCommentaire">{{ commentaire.getStringDate }}</p>
            <p>{{ commentaire.getContenu }}</p>
        {% endfor %}

        <hr id="divisionCommentaire">

        {{ form_start(form) }}
            {{ form_row(form.auteur) }}
            {{ form_row(form.contenu) }}
        <button type="submit">valider</button>
        {{ form_end(form) }}

    </div>
{% endblock %}
